@model CasadeModa.Models.Produ
@{
    ViewBag.Title = "Creeaza";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}



<div class="page-breadcrumb">
    <div class="row">
        <div class="col-7 align-self-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Produse</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item"><a href="~/Dashboard/Index" class="text-muted">Home</a></li>
                        <li class="breadcrumb-item text-muted active" aria-current="page">Adauga produs</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-5 align-self-center">
           
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Adauga un produs nou</h3>
                    @if (TempData["msjAdaugareEsuata"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            @TempData["msjAdaugareEsuata"]
                        </div>}
                    @using (Html.BeginForm("Creeaza", "CRUDproduse", FormMethod.Post, new { @id = "form-1",  @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="numeProdus">Nume produs</label>
                                        <input type="text" class="form-control" name="numeProdus" id="numeProdus" />
                                        <span class="form-message"></span>
                                    </div>
                                </div>
                                
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Categorie</label>
                                        @Html.DropDownList("idCategorie", null, htmlAttributes: new { @class = "form-control" })
                                        <span class="form-message"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Cantitate">Cantitate</label>
                                        <input type="number" class="form-control" name="cantitate" id="cantitate" />
                                        <span class="form-message"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="pret">Pret</label>
                                        <input type="number" class="form-control" name="pret" id="pret" />
                                        <span class="form-message"></span>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="descriere">Descriere produs</label>
                                        <input type="text" class="form-control" name="descriere" id="descriere" />
                                        <span class="form-message"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="imagine">Imagine</label>
                                        <img id="file-ip-1-preview" style="margin-bottom: 15px" />
                                        <input type="file" name="uploadFile" class="form-control-file" id="imagine" onchange="showPreview(event);" />
                                        <span class="form-message"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="text-right">
                                <button type="submit" class="btn btn-info">Salvare</button>
                                <button type="reset" class="btn btn-dark">Resetare</button>
                            </div>
                        </div>}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/validator.js"></script>
<script>
    Validator({
        form: '#form-1',
        formGroupSelector: '.form-group',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#numeProdus'),
            Validator.pret('#pret'),
            
            Validator.isRequired('#imagine'),

            Validator.pret('#cantitate'),
            
        ],
    });

    function showPreview(event) {
        if (event.target.files.length > 0) {
            var src = URL.createObjectURL(event.target.files[0]);
            var preview = document.getElementById("file-ip-1-preview");
            preview.src = src;
            preview.style.display = "block";
            preview.style.height = "200px";
        }
    }</script>
